{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!{% endblock %}

{% block body %}

<div class="my-container mt-5">
    {% for ad in ads %}
    <h6 class="">{{ ad.title }}</h6>
    <p><i>Publié le : {{ad.createdAt |date('d-m-Y H:i:s')}}</i></p>
    {% endfor %}
</div>

<div class="navigation">
    {{ knp_pagination_render(ads) }}
</div>
{% endblock %}
