<form method="post" action="{{ path('ad_delete', {'id': ad.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cette annonce?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ ad.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
