{% extends 'base.html.twig' %}

{% block title %}Modifier les informations{% endblock %}

{% block body %}
    <h1>Modifier les informations</h1>

    {{ include('user/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <a href="{{ path('app_account') }}">Retour</a>

    {{ include('user/_delete_form.html.twig') }}
{% endblock %}
