<footer class="bg-secondary mt-5 text-center text-lg-start">
     <div class="text-center p-3 bg-secondary text-light" >
          © {{ 'now' | date('Y') }} Copyright:
          <a class="text-light" href="https://www.jordybastide.com/">JordyBastide.com</a>
     </div>
</footer>